NEXT_PUBLIC_SUPABASE_URL=https://ajipograkjrcbyasnrmi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqaXBvZ3Jha2pyY2J5YXNucm1pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUyNjM4NjUsImV4cCI6MjA4MDgzOTg2NX0.6D8LbwM_S2yMvHgZaORmASX_MytHHUcgakVD2kPWrLM